<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5 p-5">
      <p><strong>User Name</strong>: <%= user.userName %></p>
      <p><strong>Email</strong>: <%= user.email %></p>
      <p><strong>Site</strong>: <%= user.site %></p>
      <a href="/logout" class="col-3 btn btn-primary">Logout</a>
  </div>
  <a href="/tickets" class="col-2 btn btn-primary mb-1">Tickets</a>
  <div class="row asset-container bg-light p-5">
    <div class="col">
      <h2>Add asset</h2>
      <form action="/assets/createAsset/<%= user.id %>" method="POST">
        <div class="form-group mb-3">
            <label for="primaryUser" class="form-label">Primary User</label>
            <input type="text" class="form-control" id="primaryUser" name="primaryUser">
        </div>
        <div class="form-group mb-3">
          <label for="department" class="form-label">Department</label>
          <select class="form-control" id="department" name="department">
            <option selected>Select department</option>
            <option value="IT">IT</option>
            <option value="SMT">SMT</option>
            <option value="EA">EA</option>
            <option value="Potting">Potting</option>
            <option value="Secondary Ops">Secondary Ops</option>
            <option value="Shipping">Shipping</option>
            <option value="Test">Test</option>
            <option value="Doc Control">Doc Control</option>
            <option value="Planning">Planning</option>
            <option value="CA">CA</option>
            <option value="Purchasing">Purchasing</option>
            <option value="Engineering">Engineering</option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="model" class="form-label">Computer Model</label>
          <input type="text" class="form-control" id="model" name="model">
        </div>
        <div class="form-group mb-3">
          <label for="deployDate" class="form-label">Deploy Date</label>
          <input type="date" class="form-control" id="deployDate" name="deployDate">
        </div>
        <div class="form-group mb-3">
          <label for="expirationDate" class="form-label">Expiration Date</label>
          <input type="date" class="form-control" id="expirationDate" name="expirationDate">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div> <!--asset form-->
    <div class="col p-5">
      <table class="table table-hover align-middle">
        <thead class="thead-dark">
          <tr>
            <th scope="col-2">Primary User</th>
            <th scope="col-2">Department</th>
            <th scope="col-2">Model</th>
            <th scope="col-2">Deploy Date</th>
            <th scope="col-2">Expiration Date</th> 
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i<assets.length; i++) {%>
            <%if((assets[i].expirationDate.getTime() - new Date().getTime()) / (1000 * 3600 * 24) < 30){ %>  
              <tr class="table-danger">
            <%} else{ %>
              <tr>
            <% } %>
              <td><%= assets[i].primaryUser %></td>
              <td><%= assets[i].department %></td>
              <td><%= assets[i].model %></td>
              <td><%= assets[i].deployDate.toLocaleDateString() %></td>
              <td><%= assets[i].expirationDate.toLocaleDateString() %></td>
              <td>
                <form action="/assets/deleteAsset/<%= assets[i].id %>?_method=DELETE" method="POST">
                  <button class="btn btn-primary fa fa-trash" type="submit"></button>
                </form>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div> <!--users table-->
  </div> <!--form/table container--> 
</div> <!--outer container-->
<%- include('partials/footer') -%>