<%- include('partials/header') -%>
  <div class="bg-light px-5 w-75 py-3 mx-auto d-flex justify-content-between align-items-center">
    <p class="m-0"><strong>User Name</strong>: <%= user.userName %></p>
    <p class="m-0"><strong>Email</strong>: <%= user.email %></p>
    <p class="m-0"><strong>Site</strong>: <%= user.site %></p>
  </div>
<div class="container mt-3">
    <div class="col">
      <h2>Add asset</h2>
      <form action="/assets/createAsset/<%= user.id %>" method="POST">
        <div class="form-group mb-3">
            <label for="primaryUser" class="form-label">Primary User</label>
            <input placeholder="Employee asset was issued to..." type="text" class="form-control" id="primaryUser" name="primaryUser">
        </div>
        <div class="form-group mb-3">
          <label for="department" class="form-label">Department</label>
          <select class="form-control" id="department" name="department">
            <option selected>Select department</option>
            <option value="IT">IT</option>
            <option value="Shipping">Shipping</option>
            <option value="Sales">Sales</option>
            <option value="Assembly">Assembly</option>
            <option value="Purchasing">Purchasing</option>
            <option value="Engineering">Engineering</option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="model" class="form-label">Computer Model</label>
          <input placeholder="Model number of asset..." type="text" class="form-control" id="model" name="model">
        </div>
        <div class="form-group mb-3">
          <label for="serviceTag" class="form-label">Service Tag</label>
          <input placeholder="Service Tag number of asset..." type="text" class="form-control" id="serviceTag" name="serviceTag">
        </div>
        <div class="form-group mb-3">
          <label for="deployDate" class="form-label">Deploy Date</label>
          <input type="date" class="form-control" id="deployDate" name="deployDate">
        </div>
        <div class="form-group mb-3">
          <label for="expirationDate" class="form-label">Expiration Date</label>
          <input type="date" class="form-control" id="expirationDate" name="expirationDate">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div> <!--asset form-->
    <div class="col p-5">
      <table class="table table-hover align-middle">
        <thead class="thead-dark">
          <tr>
            <th scope="col-2">Primary User</th>
            <th scope="col-2">Department</th>
            <th scope="col-2">Model</th>
            <th scope="col-2">Service Tag</th>
            <th scope="col-2">Deploy Date</th>
            <th scope="col-2">Expiration Date</th> 
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i<assets.length; i++) {%>
            <%if((assets[i].expirationDate.getTime() - new Date().getTime()) / (1000 * 3600 * 24) < 30){ %>  
              <tr class="table-danger">
            <%} else{ %>
              <tr>
            <% } %>
              <td><%= assets[i].primaryUser %></td>
              <td><%= assets[i].department %></td>
              <td><%= assets[i].model %></td>
              <td><%= assets[i].serviceTag %></td>
              <td><%= assets[i].deployDate.toLocaleDateString() %></td>
              <td><%= assets[i].expirationDate.toLocaleDateString() %></td>
              <td>
                <form action="/assets/deleteAsset/<%= assets[i].id %>?_method=DELETE" method="POST">
                  <button class="btn btn-primary fa fa-trash" type="submit"></button>
                </form>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div> <!--users table-->
  </div> <!--form/table container--> 
</div> <!--outer container-->
<%- include('partials/footer') -%>