<%- include('partials/header') -%>
<div class="bg-light px-5 w-75 py-3 mx-auto d-flex justify-content-between align-items-center">
  <p class="m-0"><strong>User Name</strong>: <%= user.userName %></p>
  <p class="m-0"><strong>Email</strong>: <%= user.email %></p>
  <p class="m-0"><strong>Site</strong>: <%= user.site %></p>
</div>
<div class="container mt-5">
  <div class="container d-flex justify-content-between">
    <div class="w-50 list-group">
        <% for(var i=0;i<sops.length; i++) {%>
        <div class="d-flex align-items-center">
          <a href="/sops/<%= sops[i]._id %>" class="list-group-item list-group-item-action">
            <%= sops[i].title %>
          </a>
          <form action="/sops/deleteSop/<%= sops[i]._id %>?_method=DELETE" method="POST">
            <button class="ms-2 btn btn-primary fa fa-trash" type="submit"></button>
          </form>
        </div>
        <% } %>
    </div>
    <form class="w-50 ps-4" action="/sops/createSop/<%= user.id %>" method="POST">
        <div class="form-group mb-3">
            <label for="title" class="form-label">Title</label>
            <input placeholder="Enter a title for the SOP" type="text" class="form-control" id="title" name="title">
        </div>
        <div class="form-group mb-3">
          <label for="objective" class="form-label">Objective</label>
          <input placeholder="Enter the objective of the SOP" type="text" class="form-control" id="objective" name="objective">
        </div>
        <div class="form-group mb-3">
          <label for="prerequisites" class="form-label">Prerequisites</label>
          <input placeholder="Enter any prerequesites necessary to complete the procedure" type="text" class="form-control" id="prerequisites" name="prerequisites">
        </div>
        <div class="form-group mb-3">
            <label for="procedure" class="form-label">Procedure</label>
            <textarea placeholder="Enter the necessary steps to complete to procedure" class="form-control" id="procedure" name="procedure"></textarea>
        </div>
        <div class="form-group mb-3">
          <label for="conclusion" class="form-label">Conclusion</label>
          <textarea placeholder="Enter the conclusion for the SOP" class="form-control" id="conclusion" name="conclusion"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
    

<%- include('partials/footer') -%>